## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x=4
print(x)

4

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [6]:
yo='José Sevilla'

5) Crear una variable que contenga un número complejo

In [4]:
complejo=4j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [5]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [7]:
a1='True'
a2=True

a1==a2

#Las variables a1 y a2 no son lo mismo, porque a1 es de tipo string y a2 es de tipo booleana

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [8]:
print(type(a1))
print(type(a2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
suma=4+5.5
print(suma)

9.5

11) Realizar una operación de suma de números complejos

In [12]:
suma_complejos=4j+5j
print(suma_complejos)

9j

12) Realizar una operación de suma de un número real y otro complejo

In [13]:
suma+suma_complejos

(9.5+9j)

13) Realizar una operación de multiplicación

In [14]:
256*100

25600

14) Mostrar el resultado de elevar 2 a la octava potencia

In [15]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [16]:
27/4

6.75

16) De la división anterior solamente mostrar la parte entera

In [17]:
27//4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [18]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [19]:
4*6+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [22]:
an1='¡Hola, '
an2='mundo!'

an1+an2

'¡Hola, mundo!'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [23]:
"2"==2

#Esto ocurre porque "2" y 2 son variables de diferente tipo. La primera es de tipo string y la segunda de tipo int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [24]:
int("2")==2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [26]:
a=float('3,8')
#Correcto
a=float('3.8')

#Arroja error porque en Python, el separador del la parte entera y la parte decimal de un número es el punto ".".
#La coma se usa para concatenar textos en una impresión, no para numeros decimales.

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [28]:
tres=3
print(tres)
tres-=1
print(tres)

3
2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [32]:
1<<2
#De acuerdo a stackoverflow.com, "<<" tiene como nombre "lshift" o "left shift" sirve para cambiar la posición del número 1
#en un número binario hacia la izquierda, con estructura "0001". Luego, el "2" da la indicación de moverse 2 posiciones.
#Entonces, el 1 se moverá 2 posiciones a la izquierda, quedando "0100", que es 100 en numero binario, que es equivalente a 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [33]:
2+'2'
#Respuesta 1: La operación anterior no está permitida porque las dos variables a sumar tienen diferente tipo 
# (int y string, respectivamente)

#Respuesta 2: No, porque si los dos operandos son int o float, se sumarían, pero si los dos operandos son string,
#se concatenarían como un texto

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [46]:
entero=4
string='países'

print('El próximo año viajaré a ' + str(entero) + ' ' + string)

El próximo año viajaré a 4 países